.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"], 
.form select {
    padding: 1rem;
    background-color: transparent;
    border: .3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: .5rem;
    /* Add focus style for better accessibility */
}

/* Option dropdown styles */
.form select option {
    background-color: var(--dark-gray); /* Dark background for options */
    color: var(--white);                /* Keep the text white */
}

.submit {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem;
}